__pycache__
.pytest_cache
*.swp
/doc/build
/doc/_build
/doc/_static


/**/.idea/*
**/.idea
.idea/
.idea/*
.idea/inspectionProfiles


/build
/dist
/GridCal.egg-info

/src/tests/data/output/*.png

Results.xlsx
lynn5node.gridcal
demo_5_node.json

/venv
/.tox/
.idea/*.iml
.idea/*.xml
.idea/dictionaries/*.xml