__pycache__
.pytest_cache
*.swp
/doc/build
/doc/_build
/doc/_static

/build
/dist
/GridCal.egg-info

/src/tests/data/output/*.png

/venv
/.tox/
.idea/*.iml
.idea/*.xml
.idea/dictionaries/*.xml
./.idea/inspectionProfiles/*.xml