
recursive-include GridCal/ThirdParty *.*
include GridCal/ThirdParty/pulp/solverdir/cbc/linux/32/cbc
include GridCal/ThirdParty/pulp/solverdir/cbc/linux/64/cbc
include GridCal/ThirdParty/pulp/solverdir/cbc/osx/64/cbc
include LICENSE.txt
recursive-include GridCal/data *.*
recursive-exclude tests *.*
recursive-exclude research *.*